<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Proyecto IA - 201504100 </title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <p>
                <h1 class="text-primary">Entrenamiento</h1>
                <A HREF = "http://localhost:5000">
                    <h4 class="text-primary">Home</h4>
                </A>
            </p>
        </nav>
        <br>
        <form method="post" action="/probar" enctype="multipart/form-data">
            <div class="form-group col-md-6">
                <label for="inputGeneracion">Numero Generaciones</label>
                <input class="form-control" type="text" placeholder="100" name="iteraciones" id="iteraciones" value="50">
                <br>
                <label for="inputPoblacion">Poblacion</label>
                <input class="form-control" type="text" placeholder="100" name="poblacion" id="poblacion" value="10">
                <br>
                <label for="inputModelo">Nombre Modelo</label>
                <input class="form-control" type="text" placeholder="100" name="modelo" id="modelo" value="modelo_test">
                <br>
                <label for="inputGrafica">Nombre Grafica</label>
                <input class="form-control" type="text" placeholder="100" name="grafica" id="grafica" value="grafica_test">
                <br>
                <input type="submit" value="Entrenar un modelo">
            </div>
        </form>
        {% if respuesta %}
        <h1 class="text-success">MODELO ENTRENADO</h1>
        {% endif %}
    </body>
</html>